// Layout
$mobile : 375px;
$desktop : 1440px;

// Primary colors
$veryDarkBlue : hsl(233, 47%, 7%);
$darkDesaturatedBlue : hsl(244, 38%, 16%);
$softViolet : hsl(277, 64%, 61%);

// Neutral colors
$white : hsl(0, 0%, 100%);
$slightlyTransparentWhite : hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhite : hsla(0, 0%, 100%, 0.6);

// Typography

$fontSize : 15px;
$fontInter : 'Inter';
$fontInterWeight : 400, 700;
$fontLexendDeca : 'Lexend Deca';
$fontLexendDecaWeight : 400;


:root {
  font-size: $fontSize;
  font-family: $fontInter;
}

body {
  background-color: $veryDarkBlue;
}

.mainCard {
  display: flex;
  background-color: $darkDesaturatedBlue;
  position: relative;
  justify-content: center;
  height: 600px;
  margin: 120px;
  border-radius: 20px;
  overflow: hidden;
}

.information {
  justify-content: center;
  align-items: center;
  & h1 {
    color: $white;
    & span {
      color: $softViolet;
    }
  }
  & p {
    color: $slightlyTransparentWhite;
  }
  & h2 {
    color: $white;
  }
  & h3{
    color: $slightlyTransparentWhite;
    text-transform: uppercase;
  }
}

.photo {

}



.attribution {
  color: $white;
  text-align: center;
  & a{
    text-decoration: none;
    color: $white;
  }
}


